@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');



.content {
    margin-top: 2%;
    min-height: 100%;
    margin-left: 40px;
    margin-right: 10px;
    padding: 10px;
    max-width: 900px;
    margin-bottom: 8%;
}

.navbar {
    padding-top: 1em;
}

.nav-list {
    padding:0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    height: 40px;
    flex: 0 0 auto;
    border-bottom: 2px solid black;
}

.nav-item {
    padding:0;
    margin: 0;
    list-style: none;
    margin-right: 2rem;
    margin-left: 1rem;
}


.nav-item a {
    padding:0;
    margin: 0;
    text-decoration: none;
    padding: 0.1em;
    width: 5em auto;
    height: 2em;
    text-align: center;
    background-color: rgb(43, 43, 43);
    border-radius: 15px;
    font-size: clamp(.5rem, 3vw, 1.5rem);
    color: #ffffff;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-transition: all .5s;
       -moz-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}

.navbar li:hover {
    transform: scale(1.1);
}

.nav-item:last-child {
    margin-right: auto;
}

ol, ul, li {
    padding-left: 1.5em;
    font-size: inherit;
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
font-size: 2.8em;
margin-bottom: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
}

.site-footer {
    position: fixed;
    bottom: 0;
    background-color: #F6F6F6;
    padding-top: 1%;
    width: 100%;
}


.column .copyright {

    text-align:center;
    color: black;
    height: clamp(.5rem, 3vw, 2rem);
    margin-bottom:0;
    font-size: clamp(0.5rem, 5vw, 0.8rem);
}

.card {
    min-width: fit-content;
    border: 1px solid black;
    max-width: 50px;
    text-align: center;
    padding: 1px;
}

.red {
    color: #ff0000;
}

.black {
    color: #000000;
}

.heart {
    background-color: red;
}

.color {
    float: left;
    padding: 5px;
    margin-bottom: 0px;
}

.value {
    padding: 5px;
    margin-bottom: 0px;
}

.deckdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.dealdiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.deckdiv h1 {
    grid-column: 1/14;
    justify-self: center;
}

.card-left {
    grid-column: 1/15;
    grid-row: 2/2;
}

.joker p{
    color: red;
    font-size: 20px;
}

.btn {
    margin: 1px auto;
}