{% extends "base.html.twig" %}

{% block title %}21{% endblock %}

{% block content %}
<h1>Kortspelet 21</h1>
<div class="player">
    <h4>Spelare</h4>
    <form action="{{ url("draw") }}">
        <input type="submit" class="btn" value="Dra ett kort" />
    </form>
</div>


<div class="bank">
    <h4>Banken</h4>
</div>

{% endblock %}